.header {
  padding: 0px;
  background: #FFFFFF;
  height: auto;

}

.header a {
  align-items: center;
  display: inline-block;
  text-decoration: none; 
  color: black;
  height: auto;

}



.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}


.leftHeaderContainer {
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}


.logo {
  height: 60px;
}



@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 10s linear;
  }

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.title {
  font-size: 2em;
  padding: 5px 5px;
}


.navigation ul {
  list-style: none;
  justify-content: space-between;
  margin-right: 8px;
}
