

.ludo {
  width:70%;
  max-height: 300px;
  max-width: 400px;
  pointer-events: none;
  padding: 10px;
}

.containerRed{
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #FF3737;
  font: #FFFFFF;
  text-align: justify;
}

.containerYellow{
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #FFF200;
  text-align: justify;
}


.containerBlue{
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #4A87FF;
  font: #FFFFFF;
  text-align: justify;
}

.note{
  font-size: 4;
  float: right;
  font-style: italic;

}

.a{
  font:black;
  text-decoration: none; 
}

a:visited { 
  text-decoration: none; 
  color: black; 
 }