.newhost{
  padding: 30px;
  margin:20px;
  flex-direction: row;
  margin: 100px;
  justify-content: space-between;
}


.form1{
  padding: 15px;
  min-width: 300px;
  display: inline-block;
  margin-left: 15px;

}

.form2{
  padding: 15px;
  min-width: 400px;
  display: inline-block;
  margin-left: 15px;


}
